<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="org.sangokch.mapper.MenuMapper">
	<select id="selectMenu" parameterType="hashmap" resultType="Menu">
		SELECT
			menu_cd,
			parent_menu_cd,
			menu_nm,
			url,
			use_yn,
			ord_no,
			attr1
		FROM menu
		WHERE 1=1
		<if test='menu_cd neq null and menu_cd neq ""'>
		AND menu_cd = #{menu_cd}
		</if>
		<if test='parent_menu_cd neq null and parent_menu_cd neq ""'>
		AND parent_menu_cd = #{parent_menu_cd}	
		</if>
	</select>
	<insert id="insertMenu" parameterType="Menu">
		INSERT INTO menu (
			menu_cd,
			parent_menu_cd,
			menu_nm,
		<if test='attr1 neq null and attr1 neq ""'>
			attr1
		</if>
		) VALUES (
			#{menu_cd},
			IFNULL(#{parent_menu_cd}, LPAD('0', 8, '0')),
			#{menu_nm},
		<if test='attr1 neq null and attr1 neq ""'>
			#{attr1}
		</if>
		)	
	</insert>
	
</mapper>